---
layout: page
---
{% include JB/setup %}

<ul class="posts">
    {% for post in paginator.posts %}
        <article class="post">
            <header class="post-header">
                <span class="post-meta"><time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time> </span>
                <h2 class="post-title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt">
                {% if post.description %}
                    <p>{{ post.description}}</p>
                {% else %}
                    <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
                {% endif %}
            </section>
        </article>
    {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page == 1 %}
    <a href="/">← Previous</a>
  {% else %}
    <a href="{{ paginator.previous_page_path }}">← Previous</a>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next →</a>
  {% endif %}
</div>
