<script>
(function (d, w, c) {
    var id      = '{{ site.JB.analytics.yandex.id }}' - 0 || 0,
        counter = 'yaCounter' + id;
    
    (w[c]=w[c]||[]).push(function(){try{w[counter]=new Ya.Metrika({id:id,clickmap:!0,trackLinks:!0,accurateTrackBounce:!0})}catch(a){}});var n=d.getElementsByTagName("script")[0],s=d.createElement("script"),f=function(){n.parentNode.insertBefore(s,n)};s.type="text/javascript";s.async=!0;s.src=("https:"==d.location.protocol?"https:":"http:")+"//mc.yandex.ru/metrika/watch.js";"[object Opera]"==w.opera?d.addEventListener("DOMContentLoaded",f,!1):f();
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24214294" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
