<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <link href="//cloudcmd.io/img/favicon/favicon.png" rel="icon" type="image/png">

  </head>

  <body>
      <header id="site-head">
        <div class="vertical">
            <div id="site-head-content" class="inner">
                <a id="blog-logo" href="{{ HOME_PATH }}"><img src="//cloudcmd.io/img/logo/cloudcmd.png" alt="Blog Logo"></a>
                <h1 class="blog-title">{{ site.title }}</h1>
                <h2 class="blog-description">{{ site.description}}</h2>
            </div>
        </div>
    </header>
    
    <div class="container-narrow">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer class="site-footer">
        <div class="inner">
            <section class="copyright">All content copyright <a href="/">Cloud Commander</a> © {{ site.time | date: '%Y' }} • All rights reserved.</section>
            <section class="poweredby">Proudly published by <a href="//cloudcmd.io">Cloud Commander</a></section>
        </div>
      </footer>

    </div>

    {% include JB/analytics %}
  </body>
</html>
